#{extends 'main.html'/}
#{set title: 'Informações'/}
<section id="banner">
		<div class="inner">
			<header>
				<h1>IFRN - Incubadora Tecnológica de Energias e Negócios (ITEN)</h1>
				<p>${not.titulo.raw()}</p>
			</header>
			<a href="#main" class="button big scrolly">Saber mais</a>
		</div>
	</section>


<br>
<br>
<div id="main">
	<h1 class="align-center">${not.titulo.raw()}</h1>

	</br>
	<p>${not.texto.raw()}</p>
</div>
	
	
	
	
	
	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			<ul class="icons align-center">
				<li><a target="_blank" href="https://www.facebook.com/incubadorajoaocamara" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
			<p>&copy; IFRN campus João Câmara - ITEN. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a></p>
		</div>
	</footer>