#{extends 'Loginexclusive.html' /} #{set title:'Esqueci Minha Senha' /}

    <form class="form-signin" action="@{Logins.enviarEmail}" method="post">
	   <div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
			<a href="@{Start.index}" data-toggle="tooltip" title="Voltar para página principal"><img src="/public/images/logoiten.jpg" id="icon" alt="ITEN logo" />
			</a>
				</div>

			<!-- Login Form -->
			
			#{if flash.error}
			<div class="alert alert-danger" role="alert">
 			 <a class="alert-link">${flash.error}</a>
			</div>
			
			#{/if}
			<input type="text" id="login" class="fadeIn second" name="email"
				placeholder="E-mail">
				
			<input type="submit" class="fadeIn fourth" value="Enviar">
			<!-- Remind Passowrd 
			<div id="formFooter">
				<a class="underlineHover" href="@{Logins.esqueciMinhaSenha}">Esqueceu
					sua senha?</a>
			</div>
-->
		</div>
	</div>
	   
</form> 
      