#{extends 'Loginexclusive.html' /} 
#{set title:'Login' /}

<form class="form-signin" action="@{Logins.entrar}" method="post">
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
			<a href="@{Start.index}" data-toggle="tooltip" title="Voltar para página principal"><img src="/public/images/logoiten.jpg" id="icon" alt="ITEN logo" />
			</a>
				</div>

			<!-- Login Form -->
			#{if flash.error}
			<div class="alert alert-danger" role="alert">
 			 <a class="alert-link">${flash.error}</a>
			</div>
			
			#{/if}
			#{elseif flash.success}
			<div class="alert alert-success" role="alert">
 			 <a class="alert-link">${flash.success}</a>
			</div>
			
			#{/elseif}

			<input type="text" id="login" class="fadeIn second" name="email"
				placeholder="E-mail"> 
			<input type="password" id="password"
				class="fadeIn third" name="senha" placeholder="Senha"> 
			
			<input
				type="submit" class="fadeIn fourth" value="Entrar">


			<!-- Remind Passowrd -->
			<div id="formFooter">
				<a class="underlineHover" href="@{Logins.esqueciMinhaSenha}">Esqueceu
					sua senha?</a>
			</div>

		</div>
	</div>
</form>
