#{extends 'main.html' /} #{set title:'Login' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
#{/set}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<br>
<br>
<br>
<br>
    <form class="form-signin" action="@{Logins.entrar}" method="post">
	      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	      <label for="inputEmail" class="sr-only">Email</label>
	      <input type="email" id="inputEmail" name = "email" class="form-control" placeholder="Email" required autofocus>
	      <label for="inputPassword" class="sr-only">Senha</label>
	      <input type="password" id="inputPassword" name = "senha" class="form-control" placeholder="Senha	" required>
	      <div class="checkbox mb-3">
	        <label>
	          <a href = "@{Logins.esqueciMinhaSenha}"> Esqueceu sua senha?</a>
	        </label>
	      </div>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>