#{extends 'main.html' /} #{set title:'Esqueci Minha Senha' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
#{/set}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<br>
<br>
<br>
<br>
#{if flash.error}
	<span class = "alert alert-danger">${flash.error}</span>
#{/if}
    <form class="form-signin" action="@{Logins.salvarNovaSenha}" method="post">
    	  <input type="hidden" name = "hash" value = "${hash}">
	      <label for="inputPassword" class="sr-only">Senha</label>
	      <input type="password" id="inputPassword" name = "senha" class="form-control" placeholder="Senha" required>
	      <label for="inputPassword" class="sr-only">Confirmação de Senha</label>
	      <input type="password" id="inputPassword" name = "confirmaSenha" class="form-control" placeholder="Confirmação de senha" required>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar nova senha</button>
      </form>